{% extends 'base.html' %}
{% load static %}

{% block 'header' %}
  <link rel="stylesheet" href="{% static 'users/css/register.css' %}">
{% endblock %}

{% block 'content' %}


<div class="bg1">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="box-titulo">
          <div class="box-titulo-item">
            <img src="{% static 'users/img/logo.png' %}">
          </div>
          <div
            style="margin-top: auto; margin-bottom: auto"
            class="box-titulo-item"
          >
            <h3>Study Help</h3>
          </div>
        </div>
        <hr class="divisor" />
        <br />
        <div class="tac">
          <h4 style="font-size: 30px">
            Your online platform<br />
            to help you with your studies
          </h4>
        </div>
      </div>
      <div class="col-md">
        <br />
        <br />
        <div class="box-form">
          <div class="box-circle">
            <div class="circle c1"></div>
            <div class="circle c2"></div>
            <div class="circle c3"></div>
          </div>
          <br />
          <h3>Create account</h3>
          <form action="" method="POST">
            <label>Username</label>
            <input type="text" class="input-form" name="username" id="" />
            <br />
            <br />
            <label>Password</label>
            <input type="password" class="input-form" name="senha" id="" />
            <br />
            <br />
            <label>Confirm Password</label>
            <input
              type="password"
              class="input-form"
              name="confirmar_senha"
              id=""
            />
            <br />
            <br />
            <input type="submit" value="REGISTER" class="btn-cadastro" />
            <br />
            <br />
            <br />
            <br />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
